/* Add custom css styles here */
header{
    background-image: url("/images/coffee-biscuits.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    color:#e4ca9e;
    height:400px;
}
.headerdiv{
    font-family:'Courier New', Courier, monospace;
    font-size:large;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width:80%;
    max-width:650px;
    min-width: 300px;
    height:40%;
    margin: 0 auto;
    background-color:#0000007c;
}